@media only screen and (max-width: 950px)
 {
    nav.NavigationDivision
    {
      display: none;
    }
    div.BlankGrid
    {
        display: none;
    }
   
    div.ContentDivision
    {
        width: 90vw;
    }

    button.ResumeButton
   {
    background-color: #242E31;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-right: 0px;
    margin-top: 50px;
    border-radius: 10px;
    
  }

   button.CVButton
  {
    background-color: #242E31;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
    margin-right: -50px;
    border-radius: 10px;
    
   }

    
 }