@media only screen and (max-width: 600px)
 {
    nav.NavigationDivision
    {
      display: none;
    }
    div.BlankGrid
    {
        display: none;
    }
   
    div.ContentDivision
    {
        width: 90vw;
    }

    
 }