/* Style. css file for the portfolio website */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Indie+Flower&display=swap');

div.container
{
    display:grid;
    grid-template-columns: 1.5fr 8fr;  
    height: auto; 
    width: 98vw;
    


}

div.NavigationDivision
{
 background-color: rgb(29, 28, 28);
 color: aliceblue;
 text-align: center;
 height: 60vh;
 width: 15vw;
 margin-top:50%;
 position: absolute;
 left: 10px;
 top: -600px;
text-align: center;
 
}

div.Content
{
    width: 83vw;  
    position: absolute; 
    left: 300px;
    top:0px;
    height: 100vh;
    overflow-y:auto ;
    background-color: rgb(233, 236, 236);
    margin-left: -50px;
    border-left: 2px;
    border-color: black;
    border-style: solid;
} 

section.Resume
{
    position: absolute;
    left: 1000px;
    top: 25px;
    text-decoration: dotted;
}

button.ResumeButton
{
    font-size: 25px;
    border-radius: 10px;
    margin-right: -10px;
    text-shadow: 1px 4px 5px rgb(136, 126, 126);
}

button.CVButton
{
    font-size: 25px;
    border-radius: 10px;
    margin-left: 15px;
    text-shadow: 1px 4px 5px rgb(136, 126, 126);
}



p.Intro
{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}


article.Motive
{
    word-spacing: 3px;
    line-height: 20px;
    font-family: "Indie Flower", cursive;
}

img.ProfileImage
{
    height: 130px;
    width: 150px;
    width: 80px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    float:left

}

hr
{
    border-color: black;
    border-width: 3px;
}


section.Navigation
{
    position: absolute;
    left: 50px;
    top: 100px;
    line-height: 30px;
}