/* Style. css file for the portfolio website */


@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

div.container
{
    display:grid;
    grid-template-columns: 1.5fr 8fr;  
    height: 100vh; 
    width: 98vw;
    background-color: #f4fdff;
    
}

div.NavigationDivision
{
    
    position: absolute;
    top:0px;
    left:0px;
    height: 60vh;
    margin-left: 45px;
    background-color:  rgb(134, 50, 50);
    color:#f4fdff;
    font-size: 20px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 12vw;
    text-align: center;
    padding-left: 25px;
    padding-top: 300px;
    line-height: 30px;
    
}



div.ContentDivision
{
  
    margin-left: 250px;
    width: 82vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: #f4fdff;
    
   
}



section.ProjectSkillSection
{
    background-color:  rgb(134, 50, 50);
    color:#f4fdff;
    width: 60vw;
    margin-left:150px;

}

section.FutureSection
{
    background-color:  rgb(134, 50, 50);
    color:#f4fdff;
    width: 60vw;
    margin-left:150px;
}

section.CertiSection
{
    background-color:  rgb(134, 50, 50);
    color:#f4fdff;
    width: 60vw;
    margin-left:150px;
}

section.EduSection
{
    background-color:  rgb(134, 50, 50);
    color:#f4fdff;
    width: 60vw;
    margin-left:150px;
}

section.WESection
{
    background-color:  rgb(134, 50, 50);
    color:#f4fdff;
    width: 60vw;
    margin-left:150px;
}

section.ContactSection
{
    background-color:  rgb(134, 50, 50);
    color: #f4fdff;
    width: 60vw;
    margin-left:150px;
}








/* section.Resume
{
    position: absolute;
    left: 1000px;
    top: 25px;
    text-decoration: dotted;
}

button.ResumeButton
{
    font-size: 25px;
    border-radius: 10px;
    margin-right: -10px;
    text-shadow: 1px 4px 5px rgb(136, 126, 126);
}

button.CVButton
{
    font-size: 25px;
    border-radius: 10px;
    margin-left: 15px;
    text-shadow: 1px 4px 5px rgb(136, 126, 126);
}



p.Intro
{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}


article.Motive
{
    word-spacing: 3px;
    line-height: 20px;
    font-family: "Indie Flower", cursive;
}

img.ProfileImage
{
    height: 130px;
    width: 150px;
    width: 80px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    float:left

}

hr
{
    border-color: black;
    border-width: 3px;
}


section.Navigation
{
    position: absolute;
    left: 50px;
    top: 100px;
    line-height: 30px;
}

img.GraphicComputer
{
    height: 180px;
    width: 237px;
    margin-top: -8px;
    padding-left:3px;
}

img.GraphicScientist
{
    position: absolute;
    height: 159px;
    width: 238px;
    margin-top: -5px;
    padding-left:0px;
    top: 575px;
    left:10px;
} */ 