/* surface duo pro */

@media only screen and (max-width: 541px) and (min-width:540px)
 {
    nav.NavigationDivision
    {
      display: none;
    }

    
    img.navImage
    {
      display: none;
    }

    div.BlankGrid
    {
        display: none;
    }
   
    div.ContentDivision
    {
        width: 90vw;
    }

    button.ResumeButton
   {
    background-color: #242E31;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-right: -40px;
    margin-top: 20px;
    border-radius: 10px;
    
  }

   

section.CourseInfo
{
  line-height: 20px;
}

section.Specializing
{
  line-height: 20px; 
}



div.verticalLine
{
    border-left: 5px solid black;
    height: 1640px; 
    margin-left: 30px;
    float:left;
    margin-top: 15px;
    animation-name: linedisplay;
    animation-duration: 5s;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


@keyframes linedisplay
{
    0%
    {
      height: 0px;
    }
    100%
    {
      height: 1640px;
    }
}


img.EducationLogo
{   
    margin-top: -15px;
    height: 60px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -33px;
    margin-bottom: 370px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

img.PsLogo
{
    height: 60px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -33px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 610px;
}

img.CertiLogo
{
    height: 60px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -33px;   
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 130px;
}

img.FutureLogo
{
    height: 60px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -33px;    
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 230px;
}

img.WELogo
{
    height: 60px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -33px; 
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

div.ExtraContact
{
    background-color: #242E31;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #242E31;
    color: white;
    width: 100vw;
    text-align: center;
    margin-left: 0px;
    height: 20vh;
    display: block;
    margin-top: 20px;
}

p.Email
{
    font-size: 20px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 20px;
    margin-top:-2px;
  
}


img.ContactImgs
{
    height: 50px;
    border-radius: 50%;
    border-color: #e8dfdf;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;
}

    
 }